<!DOCTYPE html>
<html xmln="http//www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset = "utf-8"/>
        <title></title>
    </head>
    <body>
        <p></p>
        <table>
            <tr>
                <td>文章总数：</td>
                <td th:text="${num}"></td>
            </tr>
            <tr>
                <td th:text="${title}"></td>
            </tr>
            <tr>
                <td th:text="${passage}"></td>
            </tr>
            <tr>
                <td>作者：</td>
                <td th:text="${author}"></td>
            </tr>
            <tr>
                <td>id:</td>
                <td th:text="${authorId}"></td>
            </tr>
        </table>
        <form th:action="${postsUrl}" method="get">
            
            <p>输入文章编号:</p>
            <input type="text" name="pageNum">
            <input type="submit" value="跳转到对应的文章">
        </form>
        <a href="/content/newPost">new post</a>
    </body>
</html>