<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset = "utf-8"/>
        <title>用户界面</title>
    </head>
    <body>
        <table>
            <tr>
                <td>hello</td>
                <td th:text="${name}"></td>
            </tr>
            <tr>
                <td th:text="${informMessage}"></td>
            </tr>
        </table>
        <form action = "/passages" method = "get">
            <input readonly="readonly" type="text" name="start" value="0">
            <input readonly="readonly" type="text" name="len" value="1">
            <input type="submit" value="查看文章">
        </form>
    </body>
</html>